:root {

/*-------------------------------- COLORS */
	--brand-color-01: #32C8AA;
	--neutral: #FFFAF0;
	--black: #191919;
	--black-30: rgba(25,25,25,.3);
	--black-50: rgba(25,25,25,.5);
	--black-75: rgba(25,25,25,.75);

/*-------------------------------- FONTS */
	--body-font: "Saans-Regular";
	--body-font-bold: "Saans-SemiBold";
	--headline-font: "Reckless-Regular";
	--subhead-font: "Saans-SemiBold";

/*-------------------------------- TYPE SIZES - DESKTOP */
	--body-desktop-small: 14px;
	--body-desktop-regular: 20px;
	--body-desktop-large: 24px;
	--body-desktop-intro: 30px;
	--h1-desktop-font-size: 85px;
	--h2-desktop-font-size: 70px;
	--h3-desktop-font-size: 36px;
	--h4-desktop-font-size: 30px;
	--h5-desktop-font-size: 24px;
	--h6-desktop-font-size: 20px;

/*-------------------------------- TYPE SIZES - TABLET */
	--h1-tablet-font-size: 60px;
	--h2-tablet-font-size: 48px;
	--h3-tablet-font-size: 36px;
	--h4-tablet-font-size: 24px;
	--h5-tablet-font-size: 20px;
	--h6-tablet-font-size: 18px;

/*-------------------------------- TYPE SIZES - MOBILE */
	--body-mobile-small: 12px;
	--body-mobile-regular: 16px;
	--body-mobile-large: 20px;
	--body-mobile-intro: 24px;
	--h1-mobile-font-size: 50px;
	--h2-mobile-font-size: 36px;
	--h3-mobile-font-size: 30px;
	--h4-mobile-font-size: 24px;
	--h5-mobile-font-size: 20px;
	--h6-mobile-font-size: 16px;
}

/*-------------------------------- FONTS --------------------------------*/

	@font-face {
		font-family: Saans-Regular;
		src: url(assets/fonts/saans/Saans-Regular.woff2);
	}

	@font-face {
		font-family: Saans-Regular-Italic;
		src: url(assets/fonts/saans/Saans-RegularItalic.woff2);
	}

	@font-face {
		font-family: Saans-SemiBold;
		src: url(assets/fonts/saans/Saans-SemiBold.woff2);
	}

	@font-face {
		font-family: Saans-SemiBold-Italic;
		src: url(assets/fonts/saans/Saans-SemiBoldItalic.woff2);
	}

	@font-face {
		font-family: Saans-Light;
		src: url(assets/fonts/saans/Saans-Light.woff2);
	}

	@font-face {
		font-family: Saans-Light-Italic;
		src: url(assets/fonts/saans/Saans-LightItalic.woff2);
	}

	@font-face {
		font-family: Reckless-Regular;
		src: url(assets/fonts/reckless/Reckless-Regular.woff2);
	}

}

/*-------------------------------- FULL HTML --------------------------------*/

	* {
		box-sizing: border-box;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		cursor: none !important;
	}

	::selection {
		/*color: rgba(255,24,119,1);*/
		color: var(--neutral);
/*		text-shadow: 5px 2px rgb(255,0,0);*/
		background-color: var(--brand-color-01);
	}

	::-webkit-scrollbar {
    	display: none;
	}

	body {
		background: var(--neutral);
/*		background-color: blue;*/
		font-family: var(--body-font);
		font-size: var(--body-desktop-regular);
		color: var(--black);
		cursor: none;
		margin: 0;
	}

	a {
		text-decoration: none;
		color: var(--black);
		cursor: none !important;
	}

	ul {
		list-style: none;
		padding-left: 0;
		margin: 0;
	}

	li {
		color: var(--black-50);
		padding: 3px 0;
	}

	img {
		border-radius: 10px;
	}

/*-------------------------------- HEADINGS --------------------------------*/
	
	h1, h2, h3, h4, h5, h6, p {
		mix-blend-mode: multiply;
	}

	h1 {
		font-family: var(--headline-font);
		font-weight: 300;
		font-size: var(--h1-desktop-font-size);
		line-height: 110%;
		cursor: none;
		margin: 0;
	}

	h2 {
		font-family: var(--headline-font);
		font-weight: 300;
		font-size: var(--h2-desktop-font-size);
		line-height: 110%;
		cursor: none;
		margin: 0;
	}

	h3 {
		font-family: var(--headline-font);
		font-weight: 300;
		font-size: var(--h3-desktop-font-size);
		line-height: 110%;
		cursor: none;
		margin: 0;
	}

	h4 {
		font-family: var(--subhead-font);
		font-weight: 300;
		font-size: var(--h4-desktop-font-size);
		line-height: 110%;
		cursor: none;
		margin: 0;
	}

	h5 {
		font-family: var(--subhead-font);
		font-weight: normal;
		font-size: var(--h5-desktop-font-size);
		line-height: 110%;
		cursor: none;
		margin: 0;
	}

	h6 {
		font-family: var(--subhead-font);
		font-weight: normal;
		font-size: var(--h6-desktop-font-size);
		line-height: 110%;
		cursor: none;
		margin: 0;
	}

	p {
		margin-top: 0;
		line-height: 130%;
	}

/*-------------------------------- CURSOR --------------------------------*/

	.cursor-default	{
		position: fixed;
		width: 40px;
		height: 40px;
		scale: 25%;
		border-radius: 50%;
/*		background-color: var(--brand-color-01);*/
		background-color: hsla(161, 77%, 83%, 1);
    	background-image: radial-gradient(circle at 7% 81%, hsla(172, 91%, 91%, 1) 16%, transparent 53%), radial-gradient(circle at 5% 1%, hsla(238, 76%, 61%, 1) 7%, transparent 84%), radial-gradient(circle at 39% 52%, hsla(137, 93%, 64%, 1) 6%, transparent 68%), radial-gradient(circle at 11% 29%, hsla(201, 97%, 75%, 1) 8%, transparent 74%), radial-gradient(circle at 90% 50%, hsla(106, 94%, 89%, 1) 2%, transparent 85%);
    	background-blend-mode: normal, normal, normal, normal, normal;
		pointer-events: none;
		mix-blend-mode: difference;
		z-index: 999;
		transition: transform 0.2s;
		/*border: 1px solid black;
		padding: 25px;
		background-clip: padding-box;*/
	}
	.cursor-learn-more {
		padding: 10px;
		border-radius: 100%;
		background: red;
/*		transition: 0.5s;*/
		animation: active-cursor 1s linear 1;
	}

	@keyframes active-cursor {
		0% { transform: scale(1.0); }
		100% { transform: scale(5.0,); }
	}

	/*.cursor-learn-more::after {
		content: 'Learn More';
		padding: 10px;
		width: auto;
		border-radius: 25%;
		background-color: red;
		scale: 100% !important;
		font-size: 50px;
	}*/

	.inner-cursor {
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: green;
		transform: translate(-50%,-50%);
	}

/*-------------------------------- HOME PAGE --------------------------------*/

	.home-page-container {
		display: flex;
		flex-flow: column nowrap;
		gap: 20px;
	}

	.page-container, .featured-project-container {
		display: flex;
		flex-flow: column nowrap;
		gap: 50px;
	}

	.featured-project-tile, .secondary-project-tile {
		height: auto;
		padding: 25px;
		display: flex;
		flex-flow: column nowrap;
		gap: 25px;
	}

	.featured-project-tile > a, .secondary-project-tile > a {
		display: flex;
		flex-flow: column nowrap;
		gap: 25px;
	}

	.secondary-project-container {
		display: flex;
		flex-flow: row nowrap;
		gap: 25px;
	}

	.secondary-project-tile {
		gap: 20px;
		width: 50%;
	}

	.secondary-project-tile:nth-child(1) {
		padding-right: 0 !important;
	}

	.secondary-project-tile:nth-child(2) {
		padding-left: 0 !important;
	}

	.project-heading {
		display: flex;
		flex-flow: row nowrap;
		font-family: var(--body-font-bold);
		color: var(--black-50);
		border-bottom: 1px solid var(--black-50);
	}

	.project-heading p {
		font-size: var(--body-desktop-small);
		color: var(--black-30);
	}

	.project-label {
		display: flex;
		flex-flow: row nowrap;
		flex-grow: 1;
		text-transform: uppercase;
		gap: 20px;
/*		justify-content: space-between;*/
	}

	.project-categories {
		display: flex;
		flex-grow: 3;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-content: space-between;
		gap: 20px;
/*		justify-content: space-between;*/
	}

	.project-categories p, .project-label p {
		display: inline-block;
	}

	.featured-project-image {
/*		height: 650px;*/
	}

	.secondary-project-image {
/*		height: 400px;*/
	}

	.featured-project-image img, .secondary-project-image img {
		height: auto;
		width: 100%;
		display: block;
	}

/*-------------------------------- PROJECT PAGE --------------------------------*/

	.project-page-title {
		height: auto;
		display: flex;
		flex-flow: column nowrap;
		gap: 25px;
	}

	.project-hero-block {
		display: flex;
		flex-flow: column nowrap;
		gap: 25px;
		padding: 25px;
	}

	.project-hero-block img {
		display: block;
	}

	.page-rule {
		border-top: 1px solid black;
		width: calc(100% - 50px);
		display: flex;
		margin: 15px auto;
	}

	.project-info {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		padding: 0 25px;
		gap: 50px;
	}

	.project-background {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		gap: 35px;
		flex-grow: 1;
		flex-basis: 0;
	}

	.project-background-subhead {
		display: flex;
	}

	.project-background-body {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		gap: 100px;
	}

	.project-background-column {
		display: flex;
		flex-flow: column nowrap;
		gap: 10px;
/*		font-size: var(--body-desktop-large);*/
	}

	.project-intro {
		display: flex;
		font-size: var(--body-desktop-intro);
		flex-grow: 1;
		flex-basis: 0;
		line-height: 125%;
	}

	.full-bleed-image {
		margin: 25px 0;
		background-color: var(--black-50);
	}

	.full-bleed-image img {
		border-radius: 0;
	}

	.two-column-text-image {
		display: flex;
		flex-flow: row nowrap;
		gap: 50px;
		padding: 25px;
	}

	.two-column-body {
		display: flex;
		flex-flow: column nowrap;
		gap: 10px;
		flex-grow: 1;
		flex-basis: 0;
	}

	.two-column-image {
		flex-grow: 1;
		flex-basis: 0;
/*		background-color: var(--black-50);*/
	}

	.two-column-image img, .full-bleed-image img {
		width: 100%;
		height: auto !important;
		display: block;
	}

	.two-up-image {
		display: flex;
		flex-flow: row nowrap;
		gap: 50px;
		padding: 25px;
	}

	.image-caption-container {
		display: flex;
		flex-flow: column nowrap;
		flex-grow: 1;
		flex-basis: 0;
		gap: 15px;
	}

	.image-caption {
		display: flex;
		font-size: var(--body-desktop-small);
		color: var(--black-50);
	}

	.interior-page-nav {
		display: flex;
		flex-flow: row nowrap;
		gap: 50px;
		padding: 25px;
		justify-content: space-between;
		align-items: center;
/*		font-family: var(--body-font-bold);*/
	}

	.previous, .next, .arrow {
		border: 1px solid var(--black);
		border-radius: 100em;
		align-self: center;
		text-align: center;
		overflow: hidden;
		position: relative;
	}

	.previous, .next {
		width: auto;
		padding: 8px 20px;
	}

	.previous::after, .next::after, .arrow::after {
		content: "";
		/*background-color: hsla(161, 77%, 83%, 1);
    	background-image: radial-gradient(circle at 7% 81%, hsla(172, 91%, 91%, 1) 16%, transparent 53%), radial-gradient(circle at 5% 1%, hsla(238, 76%, 61%, 1) 7%, transparent 84%), radial-gradient(circle at 39% 52%, hsla(137, 93%, 64%, 1) 6%, transparent 68%), radial-gradient(circle at 11% 29%, hsla(201, 97%, 75%, 1) 8%, transparent 74%), radial-gradient(circle at 90% 50%, hsla(106, 94%, 89%, 1) 2%, transparent 85%);
    	background-blend-mode: normal, normal, normal, normal, normal;*/
    	--c-0: hsla(1, 100%, 64%, 1);
	    --x-0: 90%;
	    --y-0: 84%;
	    --x-1: 55%;
	    --c-1: hsla(34, 100%, 60%, 1);
	    --y-1: 93%;
	    --x-2: 47%;
	    --c-2: hsla(322, 71%, 78%, 1);
	    --y-2: 92%;
	    --y-3: 0%;
	    --x-3: 57%;
	    --c-3: hsla(255, 76%, 55%, 1);
	    --x-4: 1%;
	    --y-4: 54%;
	    --c-4: hsla(328, 74%, 65%, 1);
	    ;
	    background-color: hsla(26, 79%, 79%, 1);
	    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
	    animation: hero-gradient-animation 2s linear infinite alternate;
	    background-blend-mode: normal, normal, normal, normal, normal;
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	left: 0;
    	bottom: 0;
    	z-index: -1;
	}

	.page-nav-link {
		display: flex;
		flex-flow: row nowrap;
/*		gap: 15px;*/
		justify-content: center;
		align-items: center;
	}

	.arrow {
		position: relative;
/*		bottom: 1.5px;*/
		/*width: 35px;
		height: 35px;*/
		width: 38.5px;
		padding: 8px 0px;
	}

	@keyframes hero-gradient-animation {
	    0% {
	        --c-0: hsla(1, 100%, 64%, 1);
	        --x-0: 90%;
	        --s-start-0: 17%;
	        --s-end-0: 63%;
	        --y-0: 84%;
	        --x-1: 55%;
	        --s-start-1: 7%;
	        --s-end-1: 74%;
	        --c-1: hsla(34, 100%, 60%, 1);
	        --y-1: 93%;
	        --x-2: 47%;
	        --c-2: hsla(322, 71%, 78%, 1);
	        --y-2: 92%;
	        --s-start-2: 8%;
	        --s-end-2: 63%;
	        --y-3: 0%;
	        --x-3: 57%;
	        --c-3: hsla(255, 76%, 55%, 1);
	        --s-start-3: 8%;
	        --s-end-3: 88%;
	        --x-4: 1%;
	        --y-4: 54%;
	        --s-start-4: 10%;
	        --s-end-4: 68%;
	        --c-4: hsla(328, 74%, 65%, 1);
	    }

	    100% {
	        --c-0: hsla(309, 51%, 94%, 1);
	        --x-0: 97%;
	        --s-start-0: 5%;
	        --s-end-0: 57%;
	        --y-0: 83%;
	        --x-1: 52%;
	        --s-start-1: 15%;
	        --s-end-1: 88%;
	        --c-1: hsla(296, 58%, 62%, 1);
	        --y-1: 84%;
	        --x-2: 80%;
	        --c-2: hsla(356, 73%, 91%, 1);
	        --y-2: 5%;
	        --s-start-2: 5%;
	        --s-end-2: 84%;
	        --y-3: 23%;
	        --x-3: 5%;
	        --c-3: hsla(353, 81%, 59%, 1);
	        --s-start-3: 10%;
	        --s-end-3: 72%;
	        --x-4: 79%;
	        --y-4: 32%;
	        --s-start-4: 16%;
	        --s-end-4: 60%;
	        --c-4: hsla(326, 97%, 89%, 1);
	    }
	}

/*-------------------------------- GRADIENT ANIMATION --------------------------------*/
	
	@property --c-0 {
	    syntax: '<color>';
	    inherits: false;
	    initial-value: hsla(1, 100%, 64%, 1)
	}

	@property --x-0 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 90%
	}

	@property --s-start-0 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 17%
	}

	@property --s-end-0 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 63%
	}

	@property --y-0 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 84%
	}

	@property --x-1 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 55%
	}

	@property --s-start-1 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 7%
	}

	@property --s-end-1 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 74%
	}

	@property --c-1 {
	    syntax: '<color>';
	    inherits: false;
	    initial-value: hsla(34, 100%, 60%, 1)
	}

	@property --y-1 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 93%
	}

	@property --x-2 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 47%
	}

	@property --c-2 {
	    syntax: '<color>';
	    inherits: false;
	    initial-value: hsla(322, 71%, 78%, 1)
	}

	@property --y-2 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 92%
	}

	@property --s-start-2 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 8%
	}

	@property --s-end-2 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 63%
	}

	@property --y-3 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 0%
	}

	@property --x-3 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 57%
	}

	@property --c-3 {
	    syntax: '<color>';
	    inherits: false;
	    initial-value: hsla(255, 76%, 55%, 1)
	}

	@property --s-start-3 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 8%
	}

	@property --s-end-3 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 88%
	}

	@property --x-4 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 1%
	}

	@property --y-4 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 54%
	}

	@property --s-start-4 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 10%
	}

	@property --s-end-4 {
	    syntax: '<percentage>';
	    inherits: false;
	    initial-value: 68%
	}

	@property --c-4 {
	    syntax: '<color>';
	    inherits: false;
	    initial-value: hsla(328, 74%, 65%, 1)
	}

/*-------------------------------- MEDIA QUERIES --------------------------------*/
	

	@media (max-width: 820px) {

		body {
/*			font-size: var(--body-tablet-regular);*/
		}

		h1 {
			font-size: var(--h1-tablet-font-size);
		}

		h2 {
			font-size: var(--h2-tablet-font-size);
		}

		h3 {
			font-size: var(--h3-tablet-font-size);
		}

		h4 {
			font-size: var(--h4-tablet-font-size);
		}

		h5 {
			font-size: var(--h5-tablet-font-size);
		}

		h6 {
/*			font-size: var(--h6-tablet-font-size);*/
		}

	/*-------------------------------- PROJECT PAGE - TABLET */
		
		.page-container {
			gap: 25px;
		}

		.project-hero-block {
			padding-bottom: 0;
		}

		.project-info {
			flex-flow: column nowrap;
		}

		.project-background {
			gap: 25px;
		}

		.project-background-body {
			flex-flow: row nowrap;
			gap: 120px;
		}

		.project-background-column li {
			padding: 5px 0;
		}

		.project-intro {
			font-size: var(--body-mobile-intro);
		}

		.full-bleed-image {
/*			margin: 0;*/
		}

		.two-column-text-image {
			flex-flow: column-reverse nowrap;
			gap: 25px;
		}

		.two-up-image {
			flex-flow: column nowrap;
			padding: 0 25px;
			gap: 75px;
		}

	}

	@media (max-width: 450px) {

		body {
			font-size: var(--body-mobile-regular);
		}

		h1 {
			font-size: var(--h1-mobile-font-size);
		}

		h2 {
			font-size: var(--h2-mobile-font-size);
		}

		h3 {
			font-size: var(--h3-mobile-font-size);
		}

		h4 {
			font-size: var(--h4-mobile-font-size);
		}

		h5 {
			font-size: var(--h5-mobile-font-size);
		}

		h6 {
			font-size: var(--h6-mobile-font-size);
		}


/*-------------------------------- HOME PAGE - MOBILE */

		.secondary-project-container {
			flex-flow: column nowrap;
		}

		.featured-project-tile, .secondary-project-tile {
			gap: 15px;
		}

		.secondary-project-tile {
			width: auto;
		}

		.secondary-project-tile:nth-child(1) {
			padding-right: 15px !important;
		}

		.secondary-project-tile:nth-child(2) {
			padding-left: 15px !important;
		}

		.project-heading {
			font-size: 14px;
		}

		.featured-project-tile, .secondary-project-tile {
			padding: 15px;
		}

		.secondary-category {
			display: none !important;
		}

		.featured-project-image {
			height: 450px;
		}

		.secondary-project-image {
			height: 250px;
		}

/*-------------------------------- PROJECT PAGE - MOBILE */

		.page-container {
			gap: 25px;
		}

		.project-hero-block {
			padding-bottom: 0;
		}

		.project-info {
			flex-flow: column nowrap;
		}

		.project-background {
			gap: 25px;
		}

		.project-background-body {
			flex-flow: row nowrap;
			gap: 40px;
		}

		.project-background-column li {
			padding: 5px 0;
		}

		.project-intro {
			font-size: var(--body-mobile-intro);
		}

		.full-bleed-image {
/*			margin: 0;*/
		}

		.two-column-text-image {
			flex-flow: column-reverse nowrap;
			gap: 25px;
		}

		.two-up-image {
			flex-flow: column nowrap;
			padding: 0 25px;
			gap: 75px;
		}

		.image-caption {
			font-size: var(--body-mobile-small);
		}
	}