.cursor{
		position: fixed;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: red;
		background-size: cover;
		pointer-events: none;
		mix-blend-mode: difference;
		z-index: 999;
		transition: transform 0.2s;
	}